body {
  background: #f3f3f3;
}

.jumbotron { margin-top:30px; background-color:#54B3AD; color:#FFFFFF; }
.card > a { background-color:#2644AC; }

.navbar {
  margin-bottom: 0px;
}

.nav-container {
  margin: auto;
  max-width: 1170px;
}

.navbar-brand {
  color: #2644AC !important;
  font-weight: bold;
  font-size: 22px !important;
}

/* font of links in menus at top of page */
.nav-link { font-size:large; }

/* font of links in menus at top of page */
a.dropdown-toggle { font-size:large; }

/* Content. */
h2 { margin-top:25px; color:#2644ac; font-weight: bold;}
h3 { font-weight:bold; }
h4 { margin-top:20px;}
h5 { margin-top:20px; margin-bottom:5px; padding-bottom:0px; text-decoration:underline; }

p.indent {
  margin: 20px 0 20px 30px;
}

.container-wrapper {
  padding: 20px 0 50px 0;
  background: #fff;
}

.container > ul { margin-top:20px; padding-left:0px; }
.container > ul > li { display:inline; margin-top:30px; }
.container > ul > li > a > h4{ margin-top:25px; margin-bottom:5px; }
.container > ul > li > p { margin-top:0px; padding-top:0px; }
.container > p > span { display:block; margin-top:0px; padding-left:20px; font-size:12px; color:#777777; }

/* footers for all pages */
.footer-text { height:60px; padding:20px 10px; font-family:'Libre Franklin',san-serif; }
.footer-text > p { margin:0px 0px 10px; padding:0px; }
.footer { height:60px; background-color:#f3f3f3; margin-top: 0px; }
.footer .container {
  background: none;
  padding-top: 30px;
  padding-bottom: 30px;
}
